.navbar {
  justify-content: space-between;
  background-color: #1d1e1f;
}
span {
  padding-right: 1rem;
}
a,
h1 {
  color: white;
}

a {
  text-decoration: none;
}
a.signin:hover {
  box-shadow: 0 0 11px rgba(255, 255, 255, 1);
}
