<app-navbar-dash></app-navbar-dash>
<div class="container main" [align]="'center'">
  <div class="row">
    <div class="col title">
      <div class="container sub">
        <h1 style="font-weight: bold">YOUR {{priorMonth}} {{priorYear}} STATEMENT</h1>
        <h4>{{customer.fname}} {{customer.lname}}</h4>
        <h4>{{customer.address}}</h4>
        <h4>{{customer.city}}, {{customer.state}}</h4>
      </div>
    </div>
    <div class="col core-info">
      <div class="container sub">
        <div style="clear: both">
          <h3 class="top-right">Payment Due Date:</h3>

          <h3 style="float: right">{{currMonth}}/{{maxDays[currMonth-1]}}/{{currYear}}</h3>
        </div>
        <div style="clear: both">
          <h3 class="top-right">New Balance:</h3>

          <h3 style="float: right">${{balance}}</h3>
        </div>
        <div style="clear: both">
          <h3 class="top-right">Minimum Payment:</h3>

          <h3 style="float: right">{{minPayment}}</h3>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container" [align]="'center'">
    <div class="row">
      <div class="col">
        <div class="container">
          <h1>Account Summary</h1>
          <hr />
          <div style="clear: both">
            <h3 class="label">Account Number:</h3>

            <h3 style="float: right">{{account}}</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Previous Balance:</h3>

            <h3 style="float: right">{{prevBalance}}</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Payment Credits:</h3>

            <h3 style="float: right">{{paymentCredits}}</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Purchases:</h3>

            <h3 style="float: right">${{balance}}</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Cash Advances:</h3>

            <h3 style="float: right">$0</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Balance Transfers:</h3>

            <h3 style="float: right">$0</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Fees Charged:</h3>

            <h3 style="float: right">$0</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Interest Charged:</h3>

            <h3 style="float: right">$0</h3>
          </div>

          <div style="clear: both">
            <h3 class="label"><b>New Balance:</b></h3>

            <h3 style="float: right"><b>${{balance}}</b></h3>
          </div>

          <div style="clear: both">
            <hr />
          </div>

          <div style="clear: both">
            <h3 class="label">Opening/Closing Date:</h3>

            <h3 style="float: right">{{currMonth}}/1-{{currMonth}}/{{maxDays[currMonth-1]}}/{{currYear}}</h3>
          </div>

          <div style="clear: both">
            <h3 class="label">Credit Access Line:</h3>

            <h3 style="float: right">${{totCredit}}</h3>
          </div>
          <div style="clear: both">
            <h3 class="label">Available Credit:</h3>

            <h3 style="float: right">${{availCredit}}</h3>
          </div>
          <div style="clear: both">
            <h3 class="label">Cash Access Line:</h3>

            <h3 style="float: right">$500</h3>
          </div>
          <div style="clear: both">
            <h3 class="label">Available for Cash:</h3>

            <h3 style="float: right">$500</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <h1>Payment Information</h1>
        <hr />
        <div style="clear: both">
          <h3 class="label">Payment Due Date:</h3>

          <h3 style="float: right">{{currMonth}}/{{maxDays[currMonth-1]}}/{{currYear}}</h3>
        </div>
        <div style="clear: both">
          <h3 class="label">New Balance:</h3>

          <h3 style="float: right">${{balance}}</h3>
        </div>
        <div style="clear: both">
          <h3 class="label">Minimum Payment:</h3>

          <h3 style="float: right">{{minPayment}}</h3>
        </div>
        <div style="clear: both; text-align: left">
          <p>
            <b>Minimum Payment Warning:</b> If you only provide us with the
            mimimum payment each month, you will accrue interest and it will
            take you longer to pay off your balance.
          </p>
        </div>
        <div style="clear: both; text-align: left">
          <p>
            <b>Late Payment Warning:</b> If we do not recieve at least the
            minimum payment by the date listed on this document, you will have
            to pay up to a $35.00 late fee and also be subject to additional
            interest up to a maximum of 24%.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" [align]="'center'">
    <h1><b>Notices of Changes to Your Account</b></h1>
  </div>
</div>