<app-navbar-simple></app-navbar-simple>
<div
  class="container d-flex form-box align-items-center justify-content-center"
>
  <mat-stepper class="stepper">

    <mat-step [stepControl]="basicInfo" errorMessage="Inputs missing">
      <ng-template matStepLabel>Basic Information</ng-template>

      <p>
        Please provide this basic information about yourself. All fields are
        required unless otherwise stated.
      </p>

      <form [formGroup]="basicInfo" #basic="ngForm">
        <div class="form-group" style="display: inline-block; width: 100%">
          <!--First Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>First Name</mat-label>
            <input
              matInput
              ngModel
              [(ngModel)]="fname"
              placeholder="John"
              class="input"
              formControlName="fname"
              name="fname"
              id="fname"
              required
            />

           <mat-error *ngIf="g['fname'].errors && (g['fname'].dirty || g['fname'].touched)">
              <mat-error *ngIf="g['fname'].errors['required']">Required</mat-error>
              <mat-error *ngIf="g['fname'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Middle Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Middle Name</mat-label>
            <input matInput class="input" />
          </mat-form-field>

          <!--Last Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Last Name</mat-label>
            <input
              matInput
              ngModel
              [(ngModel)]="lname"
              placeholder="Doe"
              class="input"
              formControlName="lname"
              name="lname"
              id="lname"
              required
            />
            <mat-error *ngIf="g['lname'].errors && (g['lname'].dirty || g['lname'].touched)">
              <mat-error *ngIf="g['lname'].errors['required']">Required</mat-error>
              <mat-error *ngIf="g['lname'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--SSN-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="double"
          >
            <mat-label>SSN</mat-label>
            <input
              matInput
              placeholder="123-45-6789"
              class="input"
              maxlength="9"
              formControlName="ssn"
              type="number"
              required
            />
            <mat-error *ngIf="g['ssn'].errors && (g['ssn'].dirty || g['ssn'].touched)">
              <mat-error *ngIf="g['ssn'].errors['required']">Required</mat-error>
              <mat-error *ngIf="g['ssn'].errors['pattern']">
                Must contain exactly 9 digits
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Birthday-->
          <mat-form-field appearance="fill" class="double">
            <mat-label>Birthday</mat-label>

            <input
            matInput
            [matDatepicker]="dp3"
            formControlName="bday"
            class="unstyled"
            required
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="dp3"
            ></mat-datepicker-toggle>

            <mat-datepicker #dp3 disabled="false"></mat-datepicker>

            <mat-error *ngIf="basicInfo.invalid"> 
              Enter a valid date 
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--Address-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            style="width: 99%"
          >
            <mat-label>Address</mat-label>

            <input
              matInput
              placeholder="123 First Street"
              class="input"
              formControlName="address"
              name="address"
              id="address"
              required
            />

            <mat-error *ngIf="basicInfo.invalid"> Required </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!--City-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>City</mat-label>

            <input
              matInput
              placeholder="Chicago"
              class="input"
              formControlName="city"
              name="city"
              id="city"
              required
            />

            <mat-error *ngIf="basicInfo.invalid"> Required </mat-error>
          </mat-form-field>

          <!--State-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>State</mat-label>
            <mat-select
            formControlName="state"
            name="state"
            id="state"
            required>
              <mat-option *ngFor="let o of options" value={{o}}>
                {{ o }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="basicInfo.invalid"> Required </mat-error>
          </mat-form-field>

          <!--Zip Code-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Zip</mat-label>

            <input
              matInput
              placeholder="55555"
              class="input"
              formControlName="zip"
              type="number"
              required
            />

            <mat-error *ngIf="g['zip'].errors && (g['zip'].dirty || g['zip'].touched)">
              <mat-error *ngIf="g['zip'].errors['required']">Required</mat-error>
              <mat-error *ngIf="g['zip'].errors['pattern']">
                Must contain exactly 5 digits
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Balance-->
          <input
            formControlName="balance"
            type="hidden"
          />

          <!--Remaining Credit-->
          <input
            formControlName="remainingCredit"
            type="hidden"
          />

          <!--Username-->
          <input
            formControlName="username"
            type="hidden"
          />

        </div>
        <hr />

        <div class="form-group">
          <p>Already have an account? <a routerLink="../signin">Sign in</a></p>
          <div [align]="'end'">
            <button mat-button routerLink="">Cancel</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="jobInfo" errorMessage="Inputs missing">
      <ng-template matStepLabel>Employment Information</ng-template>
      <p>
        Please tell us about your employment status. All fields are required.
      </p>
      <form [formGroup]="jobInfo">
        <div class="form-group">
          <!--Company Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="double"
          >
            <mat-label>Company Name</mat-label>

            <input matInput class="input" formControlName="compName" required />

            <mat-error *ngIf="jobInfo.invalid"> Required </mat-error>
          </mat-form-field>

          <!--Company Phone Number-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="double"
          >
            <mat-label>Company Phone Number</mat-label>

            <input
              matInput
              type="tel"
              class="input"
              formControlName="compPhone"
              type="number"
              required
            />

            <mat-error *ngIf="i['compPhone'].errors && (i['compPhone'].dirty || i['compPhone'].touched)">
              <mat-error *ngIf="i['compPhone'].errors['required']">Required</mat-error>
              <mat-error *ngIf="i['compPhone'].errors['pattern']">
                Must contain exactly 10 digits
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!--Salary-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Annual Salary</mat-label>

            <input
              matInput
              type="number"
              class="input"
              formControlName="salary"
              required
            />

            <mat-error *ngIf="jobInfo.invalid"> Required </mat-error>
          </mat-form-field>

          <!--Field of Employment-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Field of Employment</mat-label>

            <input matInput class="input" formControlName="field" required />

            <mat-error *ngIf="jobInfo.invalid"> Required </mat-error>
          </mat-form-field>

          <!--Start Date-->
          <mat-form-field appearance="fill" class="triple">
            <mat-label>Start Date</mat-label>

            <input
              matInput
              [matDatepicker]="dp2"
              formControlName="start"
              class="unstyled"
              required
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="dp2"
            ></mat-datepicker-toggle>

            <mat-datepicker #dp2 disabled="false"></mat-datepicker>


            <mat-error *ngIf="jobInfo.invalid"> Enter a valid date </mat-error>
          </mat-form-field>
        </div>
        <div [align]="'end'">
          <button mat-button routerLink="">Cancel</button>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </form>  
    </mat-step>

    <mat-step [stepControl]="refInfo" errorMessage="Inputs missing">
      <ng-template matStepLabel>Contacts</ng-template>
      <p>Please provide two reference contacts.</p>
      <h3>Contact 1</h3>
      <form [formGroup]="refInfo">
        <div class="form-group" style="display: inline-block; width: 100%">
          <!--Contact 1 First Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>First Name</mat-label>

            <input
              matInput
              placeholder="John"
              class="input"
              formControlName="fName1"
              required
            />

            <mat-error *ngIf="h['fName1'].errors && (h['fName1'].dirty || h['fName1'].touched)">
              <mat-error *ngIf="h['fName1'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['fName1'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Contact 1 Last Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Last Name</mat-label>

            <input
              matInput
              placeholder="Doe"
              class="input"
              formControlName="lName1"
              required
            />

            <mat-error *ngIf="h['lName1'].errors && (h['lName1'].dirty || h['lName1'].touched)">
              <mat-error *ngIf="h['lName1'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['lName1'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Contact 1 Phone Number-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Phone Number</mat-label>

            <input
              matInput
              type="tel"
              class="input"
              formControlName="phone1"
              type="number"
              required
            />

            <mat-error *ngIf="h['phone1'].errors && (h['phone1'].dirty || h['phone1'].touched)">
              <mat-error *ngIf="h['phone1'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['phone1'].errors['pattern']">
                Must contain exactly 10 digits
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-checkbox color="primary">Secondary Account Access</mat-checkbox>
        </div>
      <hr />
      <h3>Contact 2</h3>
        <div class="form-group" style="display: inline-block; width: 100%">
          <!--Contact 2 First Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>First Name</mat-label>

            <input
              matInput
              placeholder="John"
              class="input"
              formControlName="fName2"
              required
            />

            <mat-error *ngIf="h['fName2'].errors && (h['fName2'].dirty || h['fName2'].touched)">
              <mat-error *ngIf="h['fName2'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['fName2'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Contact 2 Last Name-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Last Name</mat-label>

            <input
              matInput
              placeholder="Doe"
              class="input"
              formControlName="lName2"
              required
            />

            <mat-error *ngIf="h['lName2'].errors && (h['lName2'].dirty || h['lName2'].touched)">
              <mat-error *ngIf="h['lName2'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['lName2'].errors['pattern']">
                Allowed characters include letters, spaces, and hyphens only
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--Contact 2 Phone Number-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            class="triple"
          >
            <mat-label>Phone Number</mat-label>

            <input
              matInput
              type="tel"
              class="input"
              formControlName="phone2"
              type="number"
              required
            />

            <mat-error *ngIf="h['phone2'].errors && (h['phone2'].dirty || h['phone2'].touched)">
              <mat-error *ngIf="h['phone2'].errors['required']">Required</mat-error>
              <mat-error *ngIf="h['phone2'].errors['pattern']">
                Must contain exactly 10 digits
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-checkbox color="primary">Secondary Account Access</mat-checkbox>
        </div>
      </form>  
      <div [align]="'end'">
        <button mat-button routerLink="">Cancel</button>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="loginInfo" errorMessage="Inputs missing">
      <ng-template matStepLabel>Login Information</ng-template>
      <p>Please enter your preferred login credentials.</p>
      <form [formGroup]="loginInfo" (ngSubmit)="onSignup()" #login="ngForm">
        <div class="form-group">
          <!--Username-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            style="width: 100%"
          >
            <mat-label>Username</mat-label>

            <input
              matInput
              ngModel
              [(ngModel)]="uName"
              placeholder="Username"
              class="input"
              formControlName="uName"
              id="uName"
              required
            />

            <mat-error *ngIf="loginInfo.invalid"> Required </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--Password-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            style="width: 100%"
          >
            <mat-label>Password</mat-label>

            <input
              matInput
              ngModel
              [(ngModel)]="psw"
              placeholder="Password"
              type="password"
              formControlName="psw"
              id="psw"
              required
            />

            <mat-error *ngIf="f['psw'].errors && (f['psw'].dirty || f['psw'].touched)">
              <mat-error *ngIf="f['psw'].errors['required']">Required</mat-error>
              <mat-error *ngIf="f['psw'].errors['minlength']">Password must be at least 8 characters</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--Confirm Password-->
          <mat-form-field
            appearance="fill"
            [floatLabel]="'auto'"
            style="width: 100%"
          >
            <mat-label>Confirm Password</mat-label>

            <input
              matInput
              ngModel
              [(ngModel)]="confPsw"
              placeholder="Confirm Password"
              type="password"
              formControlName="confPsw"
              id="confPsw"
              required
            />

            <mat-error *ngIf="f['confPsw'].errors && (f['confPsw'].dirty || f['confPsw'].touched)">
              <mat-error *ngIf="f['confPsw'].errors['required']">Required</mat-error>
              <mat-error *ngIf="f['confPsw'].errors['matching']">Password and Confirm Password must match</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-checkbox color="primary" formControlName="cBox">
          I agree to our
          <a routerLink="../terms" target="_blank">Terms of Service</a>
        </mat-checkbox>
        <div *ngIf="loginInfo.hasError('required', 'cBox')">
        </div>
      </form>
        
      <div [align]="'end'">
        <button mat-button routerLink="">Cancel</button>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button 
          mat-button 
          matStepperNext 
          type="button"
          (click)="login.ngSubmit.emit()"
          [disabled]="basicInfo.invalid || jobInfo.invalid || refInfo.invalid || loginInfo.invalid">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>